html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
  background: rgb(17, 17, 43);
  color: white;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

