/* ========== Base Styles ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 10px 20px;
  background-color: rgba(238, 236, 246, 0.081);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 80px;
}
.logo:hover{
  cursor: pointer;
}

/* Navigation Items */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.nav-menu li,
.anchor-link {
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-menu li:hover,
.anchor-link:hover {
  color: #f5c518;
}

.nav-link{
  text-decoration: none;
  color: #f0f0f0;
}
.anchor-link {
  text-decoration: none;
}

/* Button */
.nav-connect {
  margin-right: 30px;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 50px;
 background: linear-gradient(rgb(85, 75, 127), rgb(46, 39, 67));
  transition: 0.3s;
}

.nav-connect:hover {
 background: #3fcfff;
  color: rgb(244, 241, 241);
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

/* ========== Mobile Styles ========== */
.nav-mob-open,
.nav-mob-close {
  display: none;
}

@media (max-width: 768px) {
  .logo {
    height: 60px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    cursor: pointer;
    z-index: 1001;
    width: 30px;
    height: 30px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 0, 25, 0.97);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    padding: 100px 30px 30px;
    gap: 30px;
    z-index: 1000;
  }

  .nav-menu.active {
    transform: translateX(0%);
  }

  .nav-menu li {
    font-size: 22px;
    padding-left: 20px;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    z-index: 1001;
  }

  body.menu-open {
    overflow: hidden;
  }
}
